<!DOCTYPE html>
<html data-th-replace="~{layouts/layout :: frag-layout(titre=~{:: title},
													contenu=~{:: main})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<main>
	<h2>Recherche d'article</h2>
	<form action="/enchere/recherche" method="post" >
	<label for="nom">Nom de l'article</label>
	<input id="nom" name="recherche" placeholder="nom de l'article")></input>
	<div>
	<label for="categorie">Catégorie</label>
	<select id="categorie" name="categorie" >
		<option data-th-each="cat:${categories}"
		data-th-text="${cat.libelle}"
		data-th-value="${cat.noCategorie}">
		</option>
	</select>
	<button type="submit">Rechercher</button>
	</form>
	</div >
	 <h2> Les articles disponibles!</h2>
	<div  class="blocArticle" data-th-each="article:${articles}">
	<ul class="article">
		<li data-th-text="${article.nomArticle}"></li>
		<li data-th-text="${article.prixVente}"></li>
		<li data-th-text="${article.etatVente}"></li>
		<li><a data-th-href="@{/enchere/article(noArticle=${article.noArticle})}">Détails article</a></li>
	</ul>
	</div>
</main>

</body>
</html>